body {
    background-color: rgb(40, 40, 40);
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
/* Start here by styling the main div section */
.main {
    background-color: oldlace;
    width: fit-content;
    border-width: 20px;
    border-radius: 0px;
    margin-left: auto;
    margin-right:auto;
    border-style: dotted;
    border-color: orange;
    padding: 50px;
    font-size: 100px;
}

.main::after {
    
}